/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
	 scrollbar-width: thin;
	 scrollbar-color: #90d0c2 #2e3b37;
}
 body {
	 background-image: url(background/back1.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 font-family: Arial, Helvetica, sans-serif;
}
 * {
	 padding: 0;
	 margin: 0;
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
	 text-decoration: none;
	/* outline: 3px solid blueviolet;
	 */
}
 :root {
	 --content-hover-color: #1a473d;
	 --content-hover-color2: #4e887b;
	 --hover-color-green: #64a092;
	 --main-shadow: 0px 0px 30px 1px black;
}
/*The ClintLAB*/
 main {
	 display: -ms-grid;
	 display: grid;
	 -ms-grid-rows: auto 20px 2fr 20px auto;
	 grid-template-rows: auto 2fr auto;
	 -ms-grid-columns: 1fr 20px minmax(250px, 700px) 20px minmax(100px, 250px) 20px 1fr;
	 grid-template-columns: 1fr minmax(250px, 700px) minmax(100px, 250px) 1fr;
	 gap: 20px;
	     grid-template-areas: "header header header header" "space1 section aside space2" "footer footer footer footer";
}
 @media (width <= 520px) {
	 main {
		 -ms-grid-columns: 0px minmax(200px, 700px) minmax(100px, 250px) 0px;
		 grid-template-columns: 0px minmax(200px, 700px) minmax(100px, 250px) 0px;
		     grid-template-areas: "header header header header" "space1 section section space2" "space1 section section space2" "space1 aside aside space2" "footer footer footer footer";
	}
}
 header {
	 -ms-grid-row: 1;
	 -ms-grid-column: 1;
	 -ms-grid-column-span: 7;
	 grid-area: header;
}
 section {
	 -ms-grid-row: 3;
	 -ms-grid-column: 3;
	 grid-area: section;
}
 aside {
	 -ms-grid-row: 3;
	 -ms-grid-column: 5;
	 grid-area: aside;
}
 footer {
	 -ms-grid-row: 5;
	 -ms-grid-column: 1;
	 -ms-grid-column-span: 7;
	 grid-area: footer;
}
 .space1 {
	 -ms-grid-row: 3;
	 -ms-grid-column: 1;
	 grid-area: space1;
}
 .space2 {
	 -ms-grid-row: 3;
	 -ms-grid-column: 7;
	 grid-area: space2;
}
 @media (width <= 520px) {
	 header {
	 	 -ms-grid-row: 1;
	 	 -ms-grid-column: 1;
	 	 -ms-grid-column-span: 4;
	}
	 section {
	 	 -ms-grid-row: 2;
	 	 -ms-grid-row-span: 2;
	 	 -ms-grid-column: 2;
	 	 -ms-grid-column-span: 2;
	}
	 aside {
	 	 -ms-grid-row: 4;
	 	 -ms-grid-column: 2;
	 	 -ms-grid-column-span: 2;
	}
	 footer {
	 	 -ms-grid-row: 5;
	 	 -ms-grid-column: 1;
	 	 -ms-grid-column-span: 4;
	}
	 .space1 {
	 	 -ms-grid-row: 2;
	 	 -ms-grid-row-span: 3;
	 	 -ms-grid-column: 1;
	}
	 .space2 {
	 	 -ms-grid-row: 2;
	 	 -ms-grid-row-span: 3;
	 	 -ms-grid-column: 4;
	}
}
 header {
	 margin: 10px;
	 border-radius: 10px 10px 0px 0px;
	 -webkit-backdrop-filter: blur(10px);
	         backdrop-filter: blur(10px);
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 height: -webkit-fit-content;
	 height: -moz-fit-content;
	 height: fit-content;
	 width: auto;
}
 header h3, header p {
	 display: -ms-grid;
	 display: grid;
	 place-items: center;
	 color: white;
	 text-shadow: -2px 2px 15px white;
}
 header h3 {
	 font-size: 2rem;
	 font-family: papyrus;
	 font-weight: bold;
	 height: 65px;
	 padding-top: 10px;
}
 header p {
	 font-weight: bold;
	 font-size: 0.6rem;
	 height: 40px;
	 padding-bottom: 10px;
}
 @media (width <= 520px) {
	 header p {
		 font-size: 0.5rem;
	}
}
 @media (width <= 375px) {
	 header p {
		 font-size: 0.45rem;
	}
}
/*Navigation Bar*/
 header nav {
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 border-radius: 0 0 10px 10px;
	 width: 100%;
	 height: 50px;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 -ms-flex-wrap: wrap-reverse;
	     flex-wrap: wrap-reverse;
	 text-wrap: nowrap;
	 overflow-x: auto;
	 scrollbar-width: thin;
	 scrollbar-color: var(--hover-color-green) transparent;
}
 header nav ul {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 gap: 20px;
	 width: 100%;
	 height: 100%;
}
 header nav ul li {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 height: 100%;
	 width: 75px;
	 -webkit-transition: all 0.25s;
	 -o-transition: all 0.25s;
	 transition: all 0.25s;
	 border-bottom: 3px solid transparent;
}
 header nav ul li:hover {
	 -webkit-transition: all 0.25s;
	 -o-transition: all 0.25s;
	 transition: all 0.25s;
	 border-bottom: 3px solid var(--hover-color-green);
	 color: var(--hover-color-green);
}
 header nav ul li a {
	 color: white;
	 font-weight: bold;
	 font-size: 0.9rem;
}
 @media (width <= 440px) {
	 header nav li:nth-child(2) {
		 display: none;
	}
	 header nav li:nth-child(3) {
		 display: none;
	}
}
 section {
	 padding: 15px;
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 -webkit-backdrop-filter: blur(10px);
	         backdrop-filter: blur(10px);
	 border-radius: 20px;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: column;
	         flex-direction: column;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 width: 100%;
}
 @media (width <= 520px) {
	 section {
		 height: 1200px;
	}
}
 .arcmain {
	 background-size: 100% 100%;
	 border-radius: 10px;
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 height: 100%;
	 width: 100%;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-align: end;
	     -ms-flex-align: end;
	         align-items: flex-end;
	 gap: 20px;
	 padding: 15px;
	 text-wrap: wrap;
}
 .arcmain a {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: column;
	         flex-direction: column;
	 gap: 10px;
}
 .arcmain a h3, .arcmain a p {
	 color: white;
	 font-size: 1rem;
	 -webkit-transition: all 0.25s;
	 -o-transition: all 0.25s;
	 transition: all 0.25s;
	 font-size: clamp(1rem, 1.2857142857rem, 1.1rem);
}
 .arcmain a h3:hover, .arcmain a p:hover {
	 -webkit-transition: all 0.25s;
	 -o-transition: all 0.25s;
	 transition: all 0.25s;
	 color: var(--content-hover-color2);
}
 .arc1 {
	 background-image: url(image/news3.webp);
}
 .arc2 {
	 background-image: url(image/news6.png);
	 margin-top: 20px;
}
 .arc3 {
	 background-image: url(image/news11.webp);
	 margin-top: 20px;
}
/* Aside */
 aside {
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 -webkit-backdrop-filter: blur(10px);
	         backdrop-filter: blur(10px);
	 border-radius: 10px;
	 padding: 10px;
	 border-radius: 20px;
	 width: 100%;
	 height: 100%;
}
 aside p {
	 text-align: center;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 13px;
	 padding-block: 10px;
	 -webkit-transition: ease-in-out 0.25s;
	 -o-transition: ease-in-out 0.25s;
	 transition: ease-in-out 0.25s;
	 font-size: 0.85rem;
}
 aside p:hover {
	 -webkit-transition: all 0.25s;
	 -o-transition: all 0.25s;
	 transition: all 0.25s;
	 color: var(--content-hover-color);
}
 aside img {
	 width: 80%;
	 border-radius: 5px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 10px;
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
}
 .asd1-arc, .asd1-arc2, .asd1-arc3 {
	 background-color: beige;
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 padding-block: 10px;
}
 .asd1-arc3 {
	 border-radius: 0px 0px 10px 10px;
}
 .asd2-arc, .asd2-arc2, .asd2-arc3 {
	 background-color: beige;
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 padding-block: 10px;
}
 .asd2-arc {
	 border-radius: 10px 10px 0px 0px;
}
/* Footer */
 footer {
	 height: -webkit-fit-content;
	 height: -moz-fit-content;
	 height: fit-content;
	 width: 99%;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
	 -webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: row;
	         flex-direction: row;
	 -webkit-backdrop-filter: blur(10px);
	         backdrop-filter: blur(10px);
	 -webkit-box-shadow: var(--main-shadow);
	         box-shadow: var(--main-shadow);
	 border-radius: 10px;
	 margin: 10px;
}
 .footer-info {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: column;
	         flex-direction: column;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;
	 -webkit-box-align: start;
	     -ms-flex-align: start;
	         align-items: flex-start;
	 gap: 7px;
	 padding: 20px;
	 width: 100%;
}
 @media (width <= 425px) {
	 .footer-info {
		 display: none;
	}
}
 .footer-info p:nth-child(1) {
	 font-family: monospace;
	 font-size: 0.65rem;
	 font-size: clamp(0.65rem, 1.65rem, 1rem);
	 color: aliceblue;
}
 .footer-info p:nth-child(2) {
	 font-size: 0.65rem;
	 font-size: clamp(0.65rem, 1.65rem, 1rem);
	 font-family: "Courier New", Courier, monospace;
	 color: aliceblue;
}
 .footer-info p:nth-child(3) {
	 font-size: 0.6rem;
	 color: aliceblue;
}
 .footer-name {
	 padding: 20px;
	 width: -webkit-fit-content;
	 width: -moz-fit-content;
	 width: fit-content;
	 height: 100%;
}
 .footer-name h4 {
	 font-size: 1.5rem;
	 font-size: clamp(1.5rem, 3.2128279883rem, 2rem);
	 font-family: papyrus;
	 font-weight: bold;
	 color: white;
	 text-shadow: -2px 2px 15px white;
}
