html {
  scrollbar-width: thin;
}

body {
  background-image: url(background/back1.jpg);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
  gap: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: 3px solid blueviolet; */
}

:root {
  --content-hover-color: hsl(167, 46%, 19%);
  --content-hover-color2: hsl(166, 27%, 42%);
  --hover-color-green: hsl(166, 24%, 51%);
  --main-shadow: 0px 0px 30px 1px black;
}

header {
  width: 97.5%;
  margin: 10px;
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: blur(10px);
  box-shadow: var(--main-shadow);
  height: fit-content;

  & h3,
  p {
    display: grid;
    place-items: center;
    color: white;
    text-shadow: -2px 2px 15px white;
  }
  & h3 {
    font-size: 2rem;
    font-family: papyrus;
    font-weight: bold;
    height: 65px;
    padding-top: 10px;
  }
  & p {
    font-weight: bold;
    font-size: 0.6rem;
    height: 40px;
    padding-bottom: 10px;

    @media (width <= 520px) {
      font-size: 0.5rem;
    }
    @media (width <= 375px) {
      font-size: 0.45rem;
    }
  }
}

/*Navigation Bar*/
header nav {
  box-shadow: var(--main-shadow);
  border-radius: 0 0 10px 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  text-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--hover-color-green) transparent;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;

    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 75px;
      transition: all 0.25s;
      border-bottom: 3px solid transparent;

      &:hover {
        transition: all 0.25s;
        border-bottom: 3px solid var(--hover-color-green);
        color: var(--hover-color-green);
      }

      & a {
        color: white;
        font-weight: bold;
        font-size: 0.9rem;
      }
    }
  }

  @media (width <= 440px) {
    & li:nth-child(2) {
      display: none;
    }
    & li:nth-child(3) {
      display: none;
    }
  }
}

footer {
  height: fit-content;
  width: 95%;
  max-width: 1000px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  backdrop-filter: blur(10px);
  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 60%;
  height: 100%;

  @media (width <= 425px) {
    display: none;
  }

  & p:nth-child(1) {
    font-family: monospace;
    font-size: 2rem;
    color: aliceblue;
  }
  & p:nth-child(2) {
    font-size: 1.3rem;
    font-family: "Courier New", Courier, monospace;
    color: aliceblue;
  }
  & p:nth-child(4) {
    font-size: 1rem;
    color: aliceblue;
  }
}

